@model ServicePlaceViewModel

@{
    ViewData["Title"] = "Részletek";
}

<h2>Részletek</h2>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceName)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        @Html.Raw(Model.ImageSVG)
    </div>

</div>
<div>
    <a asp-action="Index">Vissza</a>
</div>
